@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
}
body{
  font-family:Poppins ;
  z-index: 10;
  /* background-image: url("/src/ui/assets/background.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover; */
  /* background-repeat: no-repeat; */
}
.banner1{
  background-image: url("/src/ui/assets/Vector.png");
  width: 100%;
  height: 100vh;
  background-position: center;
}